*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.min-h-300{
  min-height: 300px;
}

.debug{
  background-color: rgba(241, 182, 18, 0.603);
  border: 1px solid black;
  min-height: 80px;
}


/* HEADER  */

header {
  background-color: #2C3D50;
  height: 80px;
}
header nav {
  height: 100%;
}

header nav .row{
  height: 100%;
}

/* JUMBO*/

.jumbotron{
  min-height: 500px;
  background-color: #1ABC9C;
}

.jumbotron img{
  height: 150px;
}

.about .container{
  padding: 0 50px;
}

.contact .container{
  padding: 0 60px;
}

/* MAIN  */



/* FOOTER  */
